@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Island+Moments&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
 :root {
    --bg-white: #f4f5fa;
    --bg-light: #eceff3;
    --bg-card: #ffffff;
    --bg-sidebar: #dedee9;
    --bg-primary: #7367f0;
    --bg-modal: rgb(255, 255, 255);
    --bg-li: #b4b2d1;
    --bg-scroll: rgb(230, 225, 225);
    --bg-header: #e9e9e9;
    --text: #6e6b7b;
    --text-primary: rgba(94, 86, 105, .87);
    --text-secondary: #254a5f;
    --text-third: #8e8e8f;
}

*,
html,
body,
 ::after,
 ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', 'Helvetica', sans-serif !important;
    background-color: var(--bg-white) !important;
    height: 100%;
    box-sizing: border-box;
    user-select: none;
    overflow-y: auto;
    font-size: 13px;
}


/*//////// Modo-Dark ////////*/

body.dark {
    --bg-white: #161d31;
    --bg-light: rgba(22, 21, 21, 0.918);
    --bg-modal: rgb(40, 43, 51);
    --bg-card: #283046;
    --bg-sidebar: #1e1e2d;
    --bg-li: #13121fe1;
    --bg-scroll: #191c1fbd;
    --bg-header: #1a1e29;
    --text: #918e9e;
    --text-primary: #efeef5;
    --text-secondary: #87a5b6;
    --text-third: #295e8f;
}


/*//////// Utilidades ////////*/

 ::-webkit-scrollbar-thumb {
    background-color: var(--bg-scroll);
    border-radius: 30px;
}

 ::-webkit-scrollbar {
    width: 12px;
}

 ::-webkit-scrollbar-track {
    background-color: var(--bg-white);
}

/*///// Página no encontrada 404 /////*/


/*///////////////////////////////////*/

.page-404 {
    background-image: url("../img/404.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*//////// Cargar Preloader ////////*/

.preloader {
    display: flex;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 9999;
    opacity: .8;
    height: 100vh !important;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-y: hidden !important;
}

.preloader>span {
    display: inline-block;
    background-color: var(--text-secondary);
    width: 0px;
    height: 0px;
    border-radius: 50%;
    margin: 0 8px;
    transform: translate3d(0);
    animation: bounce 0.6s infinite alternate;
}

.preloader>span:nth-child(2) {
    background-color: var(--text-primary);
    animation-delay: 0.2s;
}

.preloader>span:nth-child(3) {
    animation-delay: 0.4s;
}

.preloader>span:nth-child(4) {
    background-color: var(--text-primary);
    animation-delay: 0.6s;
}

@keyframes bounce {
    to {
        width: 16px;
        height: 16px;
        transform: translate3d(0, -16px, 0);
    }
}

.preloader-login {
    display: flex;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 9999;
    opacity: .8;
    height: 100vh !important;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-y: hidden !important;
}

.preloader-login>span {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--text-secondary);
    width: 0px;
    height: 0px;
    border-radius: 50%;
    margin: 0 8px;
    transform: translate3d(0);
    animation: bounce 0.6s infinite alternate;
}

.preloader-login>span:nth-child(2) {
    background-color: var(--text-primary);
    animation-delay: 0.2s;
}

.preloader-login>span:nth-child(3) {
    animation-delay: 0.4s;
}

.preloader-login>span:nth-child(4) {
    background-color: var(--text-primary);
    animation-delay: 0.6s;
}

@keyframes bounce {
    to {
        width: 16px;
        height: 16px;
        transform: translate3d(0, -16px, 0);
    }
}


/*/////////////////////////////*/


/*///// Página principal /////*/


/*///////////////////////////*/

#page {
    display: none;
}


/*/////////////////////////////////*/


/*///// Pie de la página /////////*/


/*///////////////////////////////*/

.footer-container {
    max-width: 100%;
}

.footer {
    min-width: 89.422%;
    right: 2.9rem;
    display: flex;
    background: var(--bg-card);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.footer__content {
    display: flex;
    margin-left: auto;
    font-size: 13px;
}

.footer__content p {
    margin-right: 0.1rem;
}


/*/////////////////////////////////*/


/*///// Media Querys /////////*/


/*///////////////////////////////*/

@media (min-width:190px) and (max-width: 577.98px) {
    .navbar {
        margin-top: 0;
    }
    .title__dash {
        position: relative;
    }
    .title__sales {
        margin-top: 2rem !important;
    }
}

@media (min-width:120px) and (max-width: 574.98px) {
    .forgot-content .forgot-form .card {
        width: 95%;
    }
    .login-container .login-content .card {
        width: 90%;
    }
}

@media (min-width:575px) and (max-width: 774.98px) {
    .forgot-content .forgot-form .card {
        width: 70%;
    }
    .login-container .login-content .card {
        width: 80%;
    }
}

@media (min-width:775px) and (max-width: 990px) {
    .forgot-content .forgot-form .card {
        width: 50%;
    }
    .login-container .login-content .card {
        width: 90%;
    }
}

@media (min-width:120px) and (max-width: 991.98px) {
    html,
    body {
        font-size: 12px !important;
    }
    .modal-dialog-scrollable .modal-content {
        width: 90% !important;
    }
    .title__dash {
        position: relative;
    }
    .nav-profile,
    .nav-profile.show {
        position: relative!important;
        display: flex !important;
    }
    .navbar {
        padding-left: 0;
    }
    .navbar {
        backdrop-filter: blur(10px);
        box-shadow: 0 1px 4px var(--text-third) !important;
    }
    .navbar-profile {
        position: relative!important;
        box-shadow: none!important;
    }
    .sidebar.close~.wrapper .nav-fixed,
    .sidebar.close:hover~.wrapper .nav-fixed {
        left: 0;
    }
    .show-profile i {
        color: var(--text-secondary);
    }
    .sidebar.close~.wrapper,
    .sidebar.close~.wrapper .nav-fixed {
        padding-left: 0px;
    }
    .sidebar.close:hover~.wrapper,
    .sidebar.close:hover~.wrapper .nav-fixed {
        padding-left: 0px;
    }
    .footer-container {
        width: 100%;
    }
    .sidebar {
        width: 230px !important;
        position: fixed;
        box-shadow: 1px 10px 3px var(--text-third);
        z-index: 9;
        left: -250px !important;
    }
    .sidebar.close {
        width: 230px !important;
        opacity: 1 !important;
    }
    .sidebar.close .logo-details .logo_name {
        transition-delay: 0s;
        opacity: 1!important;
        pointer-events: none;
    }
    .sidebar.close .nav-links li a .link_name {
        opacity: 1;
        pointer-events: none;
    }
    .sidebar .btn-toggle {
        display: flex !important;
    }
    .dash__left {
        z-index: 1;
    }
    .dash__right {
        margin-left: 0 !important;
    }
    .title__dash {
        position: relative;
        padding-bottom: 1rem;
    }
    .title__sales {
        padding-bottom: 1rem;
    }
    .navbar {
        margin-top: 0;
    }
    .navbar-toggler {
        display: flex !important;
    }
    .dropdown-menu {
        top: 100% !important;
        right: 1rem !important;
    }
    .footer {
        text-align: center;
        display: block;
        min-height: 3.35rem;
        padding: 1rem;
        align-items: center;
        font-size: 12px;
    }
    .form__outline .form__label {
        top: 1rem;
    }
}

@media (min-width:992px) and (max-width:1210.98px) {
    .nav-profile {
        position: relative!important;
    }
}

@media (min-width: 1206px) and (max-width:1599.98px) {
    .btn-toggle {
        display: none !important;
    }
    .title__dash {
        position: relative;
        padding-bottom: 1.5rem;
    }
    .nav-profile {
        position: relative!important;
    }
}

@media (min-width: 3107.98px) {
    html,
    body {
        font-size: 14px !important;
    }
}
