.swal2-popup {
    background-color: #fff !important;
    border-radius: 2rem !important;
    max-width: 100% !important;
    width: 25.7rem !important;
}

.swal2-icon {
    color: #242038 !important;
    width: 4em !important;
    height: 4em !important;
}

.swal2-title {
    color: #283044 !important;
}

.swal2-content {
    color: #759fbc !important;
}

.swal2-icon .swal2-icon-content {
    font-size: 3em !important;
}

.swal2-styled.swal2-cancel {
    position: absolute !important;
    border: 0;
    background: url(../img/cross.png) center left no-repeat !important;
    top: 1.5rem !important;
    right: .5rem !important;
}

.swal2-styled.swal2-confirm {
    border-radius: 1em !important;
    width: 75%;
    font-size: 1em !important;
    background-color: var(--bg-primary) !important;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: none !important;
    outline: none !important;
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=tip] {
    top: 1.875em !important;
    left: .6125em !important;
    width: 1.3em !important;
    transform: rotate(45deg);
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=long] {
    top: 1.675em !important;
    right: 0.4em !important;
    width: 2.3em !important;
    transform: rotate(-45deg);
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right] {
    right: 1em;
    transform: rotate(-45deg);
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left] {
    left: 1em;
    transform: rotate(45deg);
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    display: block;
    position: absolute;
    top: 1.8125em !important;
    width: 1.9875em !important;
    height: 0.3125em;
    border-radius: 0.125em;
    background-color: #f27474;
}

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
    background: rgb(0 0 0 / 64%) !important;
}

@media only screen and (min-width:1200px) {
    .swal2-popup {
        width: 25%;
    }
}

@media (min-width:120px) and (max-width:997.98px) {
    .swal2-styled.swal2-confirm {
        width: 100% !important;
    }
}